@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');



*{
   margin:0;
   padding:0;
   box-sizing: border-box;
}


:root 
{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 20px
}

body
{
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}
h1
{
    font-size: 3rem;
}

h2
{
    font-size:2rem;
}

h3
{
    font-size:1.5rem;
}

p
{
    font-size: 1.25rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
}

a
{
    text-decoration: none;
    display: inline-block;
}

ul
{
    list-style: none;
    overflow: none;
    align-items: center;
    justify-content: center;
}


.utility
{
    font-size: 0.8rem;
    font-weight: 400;
}

.container
{
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section)
}


.flex
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
.top-banner
{
   height: 3rem;
   background-color: #E74694;
   background-image: url('assets/asset\ 32.png');
   background-size: 300px;
   text-align: center;
   padding: 10px 30px;
   color: white;
}

.nav-title-img
{
    width: 8rem;
    height:1.5rem;
}

.nav-items
{
    margin-top: 2rem;
}

.tester
{
    margin-left: 0.2rem;
    background-image: url('assets/asset\ 33.svg');
    width: 8rem;
    padding-top: 0.5rem;
    padding-bottom:0.5rem;
    max-height:2rem;
    font-size: 0.8rem;
    text-align: center;
    font-weight: 700;
}

.nav-links
{
    flex-basis: 50rem;
}

.nav-links ul
{
  justify-content: flex-end;
  gap: 1.5rem;
}

.nav-link
{
    color: black;
}

.nav-link:hover
{
    color: var(--accent-color)
}

.primary:hover
{
    background-color: var(--accent-color-dark);
}
.primary
{
    background-color: var(--accent-color);
    border-radius:6px;
    font-weight: 700;
    color: white !important;
    padding: 12px 24px;
    box-shadow: 0 0 2px var(--secondary-text-color);
    transition: 0.2s ease-out;
}

.secondary
{
   border: 0.5px solid var(--secondary-text-color);
    border-radius:6px;
    font-weight: 700;
    color: var(--primary-text-color) !important;
    padding: 12px 24px;
    transition: 0.2s ease-out;
}

header
{
    margin-top: 5rem;
}
.secondary:hover
{
    border-color: var(--accent-color);
    color: var(--accent-color) !important;
}

.header-left
{
    margin-right: 4rem;
}

.header-right
{
    width:35rem;
}

.content-left
{
    margin-top: 1.5rem;
}
.btn-get-started
{
    margin-top: 2rem;
}

.starting-line
{
    text-align: center;
}

.companies-section
{
    margin-top: 5rem;
}
.logo
{
    height: 3rem;
}

.logos
{
    margin-top: 1.5rem;
}

.feature-heading
{
    font-size:1.5rem;
}

.feature-section-header
{
    text-align: center;
    margin: 1rem 0;
}

.feature-card
{
    text-align: center;
    max-width: 20rem;
    margin: 1.5rem;

}
.card-heading
{
    font-size: 1.15rem;
    font-weight: 600;
}

.card-text
{
    font-size: 1.25rem;
    margin-block: 1.5rem;
}

.feature-img-card
{
    transform: scale(0.5);
}

.features {
    flex-wrap: wrap;
}

.features-section
{
    margin-top: 10rem;
    background-image: url('assets/asset\ 34.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.big-feature-section-container
{
    gap: 5rem;
}
.big-feature-img img
{
   width: 100%;
}

.qoute-section
{
    background-image: url('assets/asset\ 35.svg');
    background-repeat: no-repeat;
}

.feature-next-part
{
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.reviewer-img
{
    transform: scale(0.6);
}

.big-feature-section
{
    margin-top: 4rem;
}

.review
{
    flex-direction: column;
    align-items: flex-start;
}

.company-name-img img
{
    width: 6rem;
    height: 2rem;
}
